*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F3F5FC;
}
main{
    height: 79.3vh;
}
header{
    padding: 20px;
    display: flex;
}
h1{
    margin-left: 10rem;
}

.container{
    display: flex;
}

.left{
    height: 85vh;
    width: 47vw;
    margin-left: 5rem;
    border-radius: 25px;
}
.right{
    height: 30vh;
    width: 40vw;
    border-radius: 25px;
}

.left-button{
    width: 47vw;
    margin-left: 5rem;
    position: relative;
    bottom: 10rem;
}

.text-input{
    width: 80%;
    height: 80%;
    color: #0A3871;
    font-size: 20px;
    border: none;
    outline: none;
}

.imgDer{
    width: 30vw;
    height: 65vh;
}
.texto{
    margin-left: 4rem;
    
}

.texto2{
    margin-left: 4rem;
    color: #0A3871;
    width: 80%;
    height: 30%;
    border: none;
    outline: none;
    font-size: 15px;
}

.btn-encriptar{
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 15%;
    background-color: #0A3871;
}
.btn-desencriptar{
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 5%;
    background-color: #D8DFE8;
}
#copiar{
    margin-left: 33%;
    width: 40%;
    height: 4rem;
    background-color: #D8DFE8;
    border-radius: 24px;
    display: none;
}

footer{
    display: flex;
    background-color: #0A3871;
    color: #F3F5FC;
    text-align: center;
    height: 3rem;
}
footer >h4{
    margin-top: 15px;
    margin-left: 3rem;
}
a > img{
    height: 2rem;
    margin-top: 7px;
    margin-left: 2rem;
    margin-right: -1rem;
}

.left-button > button{
    margin: 0;
    margin-top: 33px;
    margin-left: 2rem;
}

@media only screen and (min-width: 320px) and (max-width: 767px){
    body{
        width: 310px !important;
    }
    header{
        display: flex;
        /* flex-direction: column; */
        margin: 0;
    }
    header > img{
        height: 20px;
    }
    header > h1{
        margin-left: 20px;
        font-size:x-large;
    }
    main{
        height:170vh;
        width: 320px;

    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .left{
        height: 15rem;
        width: 20rem;
        margin-left: 2.2rem
    }
    .left-button{
        position: absolute;
        top: 20rem;
        left: 2px;
        align-items: center;
    }
    .btn-encriptar, .btn-desencriptar{
        width: 10rem;
        margin-left: -20px;
    }
    .right{
        height: 15rem;
        width: 20rem;
        position: absolute;
        top: 33rem;
    }
    .right >img{
        height: 20rem;
        width: 20rem;
    }
    footer{
        min-width: 320px;
    }
    footer > h4{
        font-size: small;
        margin-left: .2rem;
    }
    a > img{
        height: 1.5rem;
        margin: 1px ;
        display: flex;
        margin-top: 10px;
        margin
    }
}